[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[Containments][1]
activityId=
byPassWM=false
dockWindowBehavior=true
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=10
layoutId=
location=4
name=Slate Desktop Dock
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
screensGroup=0
timerHide=700
timerShow=200
viewType=0
visibility=2
wallpaperplugin=org.kde.image

[Containments][1][Applets][2]
immutability=1
plugin=org.kde.latte.plasmoid

[Containments][1][Applets][2][Configuration]
PreloadWeight=0

[Containments][1][Applets][2][Configuration][General]
isInLatteDock=true

[Containments][1][Applets][49]
immutability=1
plugin=OSXLaunchpad

[Containments][1][Applets][49][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][1][Applets][49][Configuration][General]
animateScrollSpeed=250
dimming=50
favoritesPortedToKAstats=true
iconSize=100
spaceHeight=10
spaceWidth=10
useCustomSizeGrid=true

[Containments][1][Applets][57]
immutability=1
plugin=org.kde.plasma.trash

[Containments][1][Applets][59]
immutability=1
plugin=org.kde.latte.separator

[Containments][1][Applets][59][Configuration]
SeparatorAlignment=Center
SeparatorStyle=Grid
SeparatorWidth=1

[Containments][1][Applets][60]
immutability=1
plugin=org.kde.plasma.weather

[Containments][1][Applets][60][Configuration]
PreloadWeight=0

[Containments][1][Applets][61]
immutability=1
plugin=org.kde.plasma.digitalclock

[Containments][1][Applets][61][Configuration]
PreloadWeight=0

[Containments][1][Applets][62]
immutability=1
plugin=org.kde.plasma.systemtray

[Containments][1][Applets][62][Configuration]
PreloadWeight=79
SystrayContainmentId=30

[Containments][1][Applets][63]
immutability=1
plugin=org.kde.latte.separator

[Containments][1][Applets][63][Configuration]
SeparatorAlignment=Center
SeparatorStyle=Grid
SeparatorWidth=1

[Containments][1][Applets][64]
immutability=1
plugin=org.kde.plasma.taskmanager

[Containments][1][Applets][64][Configuration]
PreloadWeight=70

[Containments][1][Applets][65]
immutability=1
plugin=org.kde.plasma.systemmonitor

[Containments][1][Applets][65][Configuration][Appearance]
chartFace=org.kde.ksysguard.linechart
showTitle=false

[Containments][1][Applets][65][Configuration][ConfigDialog]
DialogHeight=889
DialogWidth=720

[Containments][1][Applets][65][Configuration][FaceGrid][Appearance]
chartFace=org.kde.ksysguard.linechart
showTitle=false

[Containments][1][Applets][65][Configuration][Sensors]
highPrioritySensorIds=["cpu/cpu0/system","cpu/cpu0/user","cpu/cpu0/temperature","cpu/cpu1/system","cpu/cpu1/user","cpu/cpu1/temperature","cpu/cpu2/temperature","cpu/cpu2/system","cpu/cpu2/user","cpu/cpu3/system","cpu/cpu3/user","cpu/cpu3/temperature","cpu/cpu4/system","cpu/cpu4/user","cpu/cpu4/temperature","cpu/cpu5/system","cpu/cpu5/user","cpu/cpu5/temperature","cpu/cpu6/system","cpu/cpu6/user","cpu/cpu6/temperature","cpu/cpu7/system","cpu/cpu7/user","cpu/cpu7/temperature","cpu/cpu8/system","cpu/cpu8/user","cpu/cpu8/temperature","cpu/cpu9/system","cpu/cpu9/user","cpu/cpu9/temperature","cpu/cpu10/user","cpu/cpu10/system","cpu/cpu10/temperature","cpu/cpu11/system","cpu/cpu11/user","cpu/cpu11/temperature","cpu/cpu12/system","cpu/cpu12/user","cpu/cpu12/temperature","cpu/cpu13/system","cpu/cpu13/user","cpu/cpu13/temperature","cpu/cpu14/system","cpu/cpu14/user","cpu/cpu14/temperature","cpu/cpu15/system","cpu/cpu15/user","cpu/cpu15/temperature"]
lowPrioritySensorIds=[]

[Containments][1][ConfigDialog]
DialogHeight=600
DialogWidth=586

[Containments][1][Configuration]
PreloadWeight=0

[Containments][1][General]
advanced=false
alignmentUpgraded=true
appletOrder=49;2;59;60;61;62;63;64;57;65
appletShadowsEnabled=false
backgroundRadius=25
backgroundShadowSize=4
configurationSticker=true
iconSize=46
lengthExtMargin=5
panelSize=100
panelTransparency=50
screenEdgeMargin=4
shadowOpacity=60
shadowSize=45
shadows=All
shadowsUpgraded=true
showGlow=false
tasksUpgraded=true
themeColors=SmartThemeColors
titleTooltips=false
userBlocksColorizingApplets=49;57
zoomLevel=2
backgroundOpacity=100
backgroundColor=#FFFFFF 
